@{
    ViewData["Title"] = "About Us";
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-secondary border-bottom box-shadow bg-secondary mb-3">
        <div class="container">

            <button class="navbar-toggler navbar-dark border-white" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="SignIn">Sign In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h2>@ViewData["Title"]</h2>
<hr />

<div class="container">
    <div class="row">

        <div class="col-6" style="padding:0px;">
            <img src="~/img/logo-drop-lrg.png" />

            <hr />

            <div class="card text-white bg-dark mb-3" style="max-width: 32rem;">
                <div class="card-header">Contact Us!</div>
                <div class="card-body">
                    <h5 class="card-title">Bahadır Erdoğan - Software Developer</h5>
                    <p class="card-text">E-Mail : bahadirerdogan@outlook.com.tr</p>
                </div>
            </div>

        </div>



        <div class="col-6">

            <p>Our story begin with Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel libero ultricies, faucibus felis ut, ornare massa. Morbi quam sapien, ultrices at posuere viverra, tincidunt id dui. Donec sed purus aliquam, interdum dui eu, interdum erat. In in fermentum risus. Quisque feugiat laoreet ex quis sodales. Ut vitae imperdiet quam, nec venenatis odio. Nullam ipsum nulla.</p>

            <h2>Contents</h2>

            <ol>
                <li>Pellentesque est dui</li>
                <li>Pellentesque est dui</li>
                <li>Pellentesque est dui</li>
                <li>Pellentesque est dui</li>
                <li>Pellentesque est dui</li>
            </ol>

            <h2>Lorem ipsum</h2>

            <p>Aenean non libero sed ligula sagittis finibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean eget velit egestas, tempor nulla efficitur, aliquet augue. Aenean lobortis rhoncus felis, ut consequat enim laoreet placerat. Praesent sollicitudin diam et augue sodales. Ut eu nibh lectus. Integer pharetra luctus urna, cursus ullamcorper nisl interdum et. Donec luctus mi urna, at vestibulum justo efficitur a. Maecenas efficitur neque eget orci pulvinar, id pharetra mi bibendum. Nam maximus, nisl et sagittis fermentum, sem massa faucibus turpis, sit amet hendrerit risus dui et turpis. Sed tempus turpis et blandit vulputate. In aliquam augue sed risus vestibulum, condimentum imperdiet metus consequat.</p>

            <div>
                <button type="button" class="btn btn-dark">Join Us!</button>
            </div>

            


        </div>


    </div>


</div>



